* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}

/* The primary function of this site */
/* Hide everything that isn't the target */
section {
    display: none;
}

/* If it is the target (the hash part of the current URI), then display it */
section:target {
    display: block;
}



/* How content looks */
article {
    line-height: 1.7;
    margin-bottom: 50px;
}

article h1 {
    margin-top: 40px;
    margin-bottom: 20px;
}

ul {
    list-style-type: none;
}

ul a {
    color: rgb(255, 137, 58);
    font-weight: bold;
}



/* How links look */
a {
    text-decoration: none;
}

nav a:hover {
    background-color: white;
    color: rgb(53, 53, 53);
    font-weight: bold;
}

/* Highlight the button for the ':target' */
/* This class the only class specified via shellscript and not the templates */
.navbar__main-btn {
    background-color: rgb(255, 137, 58);
    -webkit-transition: background-color 0.1s linear, color 0.1s linear;
    -o-transition: background-color 0.1s linear, color 0.1s linear;
    transition: background-color 0.1s linear, color 0.1s linear;
}

/* And unhighlight it in accordance to 'nav a:hover' */
.navbar__main-btn:hover {
    background-color: white;
    color: rgb(255, 137, 58);
    cursor: hand; /* Indicate to user not to press since already here */
}



/* Default or greater than 768px */
body {
    /* font-family: 'Roboto', serif; */
    background-color: rgb(240, 240, 240);
}

nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: fixed;
    background-color: rgb(53, 53, 53);
    width: 200px;
    height: 100%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 50px 0;

    -webkit-box-shadow: 4px 0px 12px -4px rgba(69,69,69,0.75);
    box-shadow: 4px 0px 12px -4px rgba(69,69,69,0.75);
    overflow-y: auto;
}

nav a {
    display: block;
    color: white;
    padding: 10px 35px;
    -webkit-transition: background-color 0.1s linear, color 0.1s linear;
    -o-transition: background-color 0.1s linear, color 0.1s linear;
    transition: background-color 0.1s linear, color 0.1s linear;
}



/* Margin off so it fits next to navbar */
.main-container {
    margin-left: 250px;
    margin-right: 50px;
}

.splitview {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.navbar__container {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
}

.navbar__drop-menu {
    display: none;
}

.navbar__drop-menu__flexbox {
    margin-top: 50px;
    display: none;
    min-width: 230px;
    z-index: 1;
}

.responsive-spacer {
    display: none;
}

/* Responsive Version */
@media (max-width: 768px) {
    body {
        overflow-wrap: break-word;
        /* /=word-break: break-all; */
        font-size: 13px;
    }

    nav {
        width: 100%;
        height: 50px;
        padding: 0;
        -webkit-box-pack: end;
            -ms-flex-pack: end;
                justify-content: flex-end;
        -webkit-box-shadow: 0px 4px 12px -4px rgba(69,69,69,0.75);
        box-shadow: 0px 4px 12px -4px rgba(69,69,69,0.75);
        overflow: visible;
    }

    nav a {
        padding: 10px 20px;
    }

    .main-container {
        -webkit-box-flex: 1;
            -ms-flex: 1 1 auto;
                flex: 1 1 auto;
        width: 100%;
        margin-left: 0;
    }

    .splitview {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
    }

    .navbar__container {
        display: none;
    }

    .navbar__drop-menu {
        display: inline-block;
        position: relative;
        background-color: rgb(255, 137, 58);
        color: white;
        padding: 16px 20px 5px 20px;
    }

    .navbar__drop-menu:hover {
        background-color: rgb(255, 255, 255);
        color: rgb(255, 137, 58);
        font-weight: bold;
        cursor: pointer;
    }

    .navbar__drop-menu__flexbox {
        position: absolute;
    }

    .navbar__drop-menu__container {
        background-color: rgb(53, 53, 53);
        color: white;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
    }

    .navbar__drop-menu__container a {
        padding: 10px 20px;
    }

    .navbar__drop-menu:hover ~ .navbar__drop-menu__flexbox {
        display: block;
    }

    .navbar__drop-menu__flexbox:hover, .navbar__drop-menu__flexbox:active {
        display: block;
    }

    .responsive-spacer {
        display: block;
        height: 45px;
    }
}
